[submodule "wolf"]
	path = wolf
	url = https://github.com/UPEIGraphics/wolf.git
[submodule "samplefw"]
	path = samplefw
	url = https://github.com/UPEIGraphics/samplefw.git
[submodule "thirdparty"]
	path = thirdparty
	url = https://github.com/UPEIGraphics/thirdparty.git
